<a href="https://colab.research.google.com/github/siva4iov/FlatsPrice_DS_Proj/blob/master/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
import os

if not os.path.exists("/content/dataset.csv"):
  files.upload()

Saving dataset.csv to dataset.csv

In [ ]:
df = pd.read_csv("/content/dataset.csv", delimiter=";")
df.head()

,Балкон или лоджия,Мебель,Адрес,Жилая площадь,Количество комнат,Ремонт,Интернет и ТВ,Цена,Техника,Общая площадь,Площадь кухни,Санузел,Этаж,Оплата по счётчикам,Тип комнат
0,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Разведчика А...",20 м²,1,косметический,"Wi-Fi, телевидение",27 000,"холодильник, плита, стиральная машина, телевизор",39 м²,12 м²,совмещенный,10 из 19,NaN,NaN
1,NaN,NaN,"Республика Татарстан, Казань, Вахитовский райо...",NaN,студия,косметический,NaN,14 000,NaN,18 м²,NaN,совмещенный,9 из 9,включена в плату,NaN
2,"балкон, лоджия","кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Мидхата Була...",NaN,3,евро,NaN,40 000,"кондиционер, холодильник, плита, микроволновк...",105 м²,25 м²,совмещенный,2 из 5,NaN,изолированные
3,NaN,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, пр-т Альберта Ка...",16 м²,1,евро,NaN,27 000,"кондиционер, холодильник, плита, микроволновк...",32 м²,9 м²,NaN,14 из 23,NaN,NaN
4,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Сибгата Хаки...",13.5 м²,1,евро,NaN,20 000,"кондиционер, холодильник, плита, микроволновк...",45 м²,17.5 м²,совмещенный,5 из 9,NaN,NaN

#Rename columns
First of all, let's rename the columns so that the names would be in дatin

In [ ]:
new_names = [
    "Balcony", "Furniture", "Address", "Living_space", "Num_of_rooms", 
 "Renovation", "Internet_tv", "Price", "Appliances", 'Total_area', 
 'Kitchen_area', "Bathroom", "Floor", "Utilities", 'Room_type'
 ]
mapper = {key:value for key, value in zip(df.columns.values, new_names)}

df.rename(columns=mapper, inplace=True)
df

,Balcony,Furniture,Address,Living_space,Num_of_rooms,Renovation,Internet_tv,Price,Appliances,Total_area,Kitchen_area,Bathroom,Floor,Utilities,Room_type
0,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Разведчика А...",20 м²,1,косметический,"Wi-Fi, телевидение",27 000,"холодильник, плита, стиральная машина, телевизор",39 м²,12 м²,совмещенный,10 из 19,NaN,NaN
1,NaN,NaN,"Республика Татарстан, Казань, Вахитовский райо...",NaN,студия,косметический,NaN,14 000,NaN,18 м²,NaN,совмещенный,9 из 9,включена в плату,NaN
2,"балкон, лоджия","кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Мидхата Була...",NaN,3,евро,NaN,40 000,"кондиционер, холодильник, плита, микроволновк...",105 м²,25 м²,совмещенный,2 из 5,NaN,изолированные
3,NaN,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, пр-т Альберта Ка...",16 м²,1,евро,NaN,27 000,"кондиционер, холодильник, плита, микроволновк...",32 м²,9 м²,NaN,14 из 23,NaN,NaN
4,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Сибгата Хаки...",13.5 м²,1,евро,NaN,20 000,"кондиционер, холодильник, плита, микроволновк...",45 м²,17.5 м²,совмещенный,5 из 9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Count None entries
Let's count none values, and all none rows

In [ ]:
def count_none():
  for col in df.columns:
    nasum = df[col].isna().sum()
    print(f'{col} - {nasum} none entries')
count_none()
none_rows = np.all(df.isna().values, axis=1)
num_none_rows = none_rows.sum()
print(f'Full none rows - {num_none_rows}')

Balcony - 680 none entries
Furniture - 562 none entries
Address - 44 none entries
Living_space - 751 none entries
Num_of_rooms - 44 none entries
Renovation - 44 none entries
Internet_tv - 828 none entries
Price - 44 none entries
Appliances - 372 none entries
Total_area - 44 none entries
Kitchen_area - 139 none entries
Bathroom - 563 none entries
Floor - 44 none entries
Utilities - 1567 none entries
Room_type - 914 none entries
Full none rows - 44

**As we can see, we have 44 completely none rows.**  
If we get rid of them, then each row will have a price, a total_area etc.

# Let's drop them

In [ ]:
df = df.loc[~none_rows, :].reset_index(drop=True).copy()
count_none()

Balcony - 636 none entries
Furniture - 518 none entries
Address - 0 none entries
Living_space - 707 none entries
Num_of_rooms - 0 none entries
Renovation - 0 none entries
Internet_tv - 784 none entries
Price - 0 none entries
Appliances - 328 none entries
Total_area - 0 none entries
Kitchen_area - 95 none entries
Bathroom - 519 none entries
Floor - 0 none entries
Utilities - 1523 none entries
Room_type - 870 none entries

Much better!

# Next step is to cast features to right types

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606 entries, 0 to 1605
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Balcony       970 non-null    object
 1   Furniture     1088 non-null   object
 2   Address       1606 non-null   object
 3   Living_space  899 non-null    object
 4   Num_of_rooms  1606 non-null   object
 5   Renovation    1606 non-null   object
 6   Internet_tv   822 non-null    object
 7   Price         1606 non-null   object
 8   Appliances    1278 non-null   object
 9   Total_area    1606 non-null   object
 10  Kitchen_area  1511 non-null   object
 11  Bathroom      1087 non-null   object
 12  Floor         1606 non-null   object
 13  Utilities     83 non-null     object
 14  Room_type     736 non-null    object
dtypes: object(15)
memory usage: 188.3+ KB

**Now all features are object type**.     

 I am going to figure out how to remove empty and extra characters and then cast everything to the right types

In [ ]:
for col in ["Balcony", "Furniture", "Renovation", "Internet_tv", 
"Bathroom", "Utilities", 'Room_type'
 ]:
 print(f'{col}: {df[col][df[col].notna()].unique()}\n{"*"*50}')

Balcony: [' балкон' ' балкон, лоджия' ' лоджия']
**************************************************
Furniture: [' кухня, хранение одежды, спальные места' ' кухня, спальные места'
 ' спальные места' ' кухня, хранение одежды'
 ' хранение одежды, спальные места' ' кухня']
**************************************************
Renovation: [' косметический' ' евро' ' дизайнерский' ' требует ремонта']
**************************************************
Internet_tv: [' Wi-Fi, телевидение' ' Wi-Fi' ' телевидение' ' Wi-Fi, телевизор'
 ' телевизор']
**************************************************
Bathroom: [' совмещенный' ' раздельный' ' совмещенный, раздельный']
**************************************************
Utilities: [' включена в плату']
**************************************************
Room_type: [' изолированные' ' смежные' ' изолированные, смежные']
**************************************************

Some of this feautures looks like just arrays, so we should consider that.




So is Appliances, but there are bigger arrays, I will demonstrate one:

In [ ]:
df["Appliances"][df["Appliances"].notna()].unique()[1]

' кондиционер, холодильник, плита, микроволновка, стиральная машина, водонагреватель, телевизор'

### Im going to start with `Appliances`

My idea is to convert values to arrays, and then create column for each unique element in this arrays and for each row put `1` where this value in array, else 0

In [ ]:
def convert_appliances(df: pd.DataFrame) -> pd.DataFrame:
  series = df.loc[:, "Appliances"]
  data = []
  unique_values = set()
  new_cols_data = []

  for row in series.values:
    row_c = [value.strip() for value in (row.split(",") if isinstance(row, str) else [])]
    for element in row_c:
      if not element in unique_values:
        unique_values.add(element)
    data.append(row_c)
  
  unique_values = list(unique_values)

  for row in data:
    new_cols_data.append([1 if value in row else 0 for value in unique_values])
  
  col_names = [f"Appliances_{i+1}" for i in range(len(unique_values))]
  print("\n".join(map(str,zip(unique_values, col_names))))
  
  # df.loc[:, "Appliances"] = data
  df.drop(columns=["Appliances"], axis=1, inplace=True)

  additional_cols = pd.DataFrame(data=new_cols_data, columns=col_names, dtype=np.int8)

  return pd.concat([df, additional_cols], axis=1)

df = convert_appliances(df)

('утюг', 'Appliances_1')
('телевизор', 'Appliances_2')
('водонагреватель', 'Appliances_3')
('кондиционер', 'Appliances_4')
('посудомоечная машина', 'Appliances_5')
('фен', 'Appliances_6')
('микроволновка', 'Appliances_7')
('плита', 'Appliances_8')
('стиральная машина', 'Appliances_9')
('холодильник', 'Appliances_10')

In [ ]:
df.head(5)

,Balcony,Furniture,Address,Living_space,Num_of_rooms,Renovation,Internet_tv,Price,Total_area,Kitchen_area,...,Appliances_1,Appliances_2,Appliances_3,Appliances_4,Appliances_5,Appliances_6,Appliances_7,Appliances_8,Appliances_9,Appliances_10
0,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Разведчика А...",20 м²,1,косметический,"Wi-Fi, телевидение",27 000,39 м²,12 м²,...,0,1,0,0,0,0,0,1,1,1
1,NaN,NaN,"Республика Татарстан, Казань, Вахитовский райо...",NaN,студия,косметический,NaN,14 000,18 м²,NaN,...,0,0,0,0,0,0,0,0,0,0
2,"балкон, лоджия","кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Мидхата Була...",NaN,3,евро,NaN,40 000,105 м²,25 м²,...,0,1,1,1,0,0,1,1,1,1
3,NaN,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, пр-т Альберта Ка...",16 м²,1,евро,NaN,27 000,32 м²,9 м²,...,0,1,1,1,1,0,1,1,1,1
4,балкон,"кухня, хранение одежды, спальные места","Республика Татарстан, Казань, ул. Сибгата Хаки...",13.5 м²,1,евро,NaN,20 000,45 м²,17.5 м²,...,0,1,1,1,0,0,1,1,1,1

### This way we coped with the lists and got rid of the сyrillic in the data
More than that, we applied onehot encoding


When we have dealt with the most difficult case. We can do with others the same thing(`Renovation` is exception, we will just ordinal ecnode it).

Also, there are in `Internet_tv` column two values "*телевидение*" и 
"*телевизор*" that mean the same thing. Whe should handle this/

In [ ]:
def convert_lists(df: pd.DataFrame) -> pd.DataFrame:
  cols = ["Balcony", "Furniture", "Internet_tv", 
"Bathroom", "Utilities", 'Room_type'
 ]
  new_cols = []
  for col in cols:
    series = df.loc[:, col]
    if col == "Internet_tv":
      series = series.str.replace("телевизор", "телевидение")
    data = []
    unique_values = set()
    new_cols_data = []

    for row in series.values:
      row_c = [value.strip() for value in (row.split(",") if isinstance(row, str) else [])]
      for element in row_c:
        if not element in unique_values:
          unique_values.add(element)
      data.append(row_c)
    
    unique_values = list(unique_values)

    for row in data:
      new_cols_data.append([1 if value in row else 0 for value in unique_values])
    
    col_names = [f"{col}_{i+1}" for i in range(len(unique_values))]
    new_cols.append(pd.DataFrame(data=new_cols_data, columns=col_names, dtype=np.int8))
    print("\n".join(map(str,zip(unique_values, col_names))))

    df.drop(columns=[col], axis=1, inplace=True)

  return pd.concat([df]+new_cols, axis=1)

df = convert_lists(df)

('балкон', 'Balcony_1')
('лоджия', 'Balcony_2')
('хранение одежды', 'Furniture_1')
('кухня', 'Furniture_2')
('спальные места', 'Furniture_3')
('телевидение', 'Internet_tv_1')
('Wi-Fi', 'Internet_tv_2')
('раздельный', 'Bathroom_1')
('совмещенный', 'Bathroom_2')
('включена в плату', 'Utilities_1')
('изолированные', 'Room_type_1')
('смежные', 'Room_type_2')

## OK
There are columns we haven't figured out yet:

In [ ]:
df.iloc[:5, :8]

,Address,Living_space,Num_of_rooms,Renovation,Price,Total_area,Kitchen_area,Floor
0,"Республика Татарстан, Казань, ул. Разведчика А...",20 м²,1,косметический,27 000,39 м²,12 м²,10 из 19
1,"Республика Татарстан, Казань, Вахитовский райо...",NaN,студия,косметический,14 000,18 м²,NaN,9 из 9
2,"Республика Татарстан, Казань, ул. Мидхата Була...",NaN,3,евро,40 000,105 м²,25 м²,2 из 5
3,"Республика Татарстан, Казань, пр-т Альберта Ка...",16 м²,1,евро,27 000,32 м²,9 м²,14 из 23
4,"Республика Татарстан, Казань, ул. Сибгата Хаки...",13.5 м²,1,евро,20 000,45 м²,17.5 м²,5 из 9

In [ ]:
def convert_price(value):
  result = ''
  for literal in str(value):
    if literal.isdigit():
      result += literal
  return result

df.loc[:, "Price"] = df["Price"].apply(convert_price).astype(np.int32)

## Next step is to convert columns containing area
I will not use methods like isdigit(), because there is symbols like `²	`, which actually digits

In [ ]:
def convert_area(value):
  correct_list = [str(i) for i in range(10)] + ['.']
  result = ''
  if pd.isna(value):
    return value
  for literal in str(value):
    if literal in correct_list:
      result += literal
  return result

for col in ["Living_space", "Total_area",	"Kitchen_area"]:
  df.loc[:, col] = df[col].apply(convert_area).astype(np.float32)

In [ ]:
df.iloc[:5, :8]

,Address,Living_space,Num_of_rooms,Renovation,Price,Total_area,Kitchen_area,Floor
0,"Республика Татарстан, Казань, ул. Разведчика А...",20.0,1,косметический,27000,39.0,12.0,10 из 19
1,"Республика Татарстан, Казань, Вахитовский райо...",NaN,студия,косметический,14000,18.0,NaN,9 из 9
2,"Республика Татарстан, Казань, ул. Мидхата Була...",NaN,3,евро,40000,105.0,25.0,2 из 5
3,"Республика Татарстан, Казань, пр-т Альберта Ка...",16.0,1,евро,27000,32.0,9.0,14 из 23
4,"Республика Татарстан, Казань, ул. Сибгата Хаки...",13.5,1,евро,20000,45.0,17.5,5 из 9

## Well done
it remains to process only columns : `Address`, `Num_of_rooms`	`Renovation` and `Floor`

I prefer now to process `Num_of_rooms`

There is only difficult to process value "*студия*", it means "*studio-apartments*". I think i should add a column `Studio`, where going to be 1 if `Num_of_rooms` is "*студия*", then I'll replace in `Num_of_rooms` value "*студия*" on value equal to 1.
Also there is value "*Cвоб. планировка*" that means there is a minimum number of walls, so I will combine this categories together

In [ ]:
condition = (df["Num_of_rooms"].str.strip() == "студия") | \
            (df["Num_of_rooms"].str.strip() == "Своб. планировка")
df.loc[:, "Studio"] = np.where(condition, 1, 0)
df.loc[:, "Num_of_rooms"] = df["Num_of_rooms"].str.strip()\
.replace("студия", "1")\
.replace("Своб. планировка", "1").astype(np.int16)

## Next step is `Floor`
There are values look like **floor_of_apart** *из* **num_of_floors_in_building**.

I will try to separate values using it

In [ ]:
print("Num of NaN values in 'Floor':", df["Floor"].isna().sum())
print('Num of values not containg "из":', (~df["Floor"].str.contains("из")).sum())

Num of NaN values in 'Floor': 0
Num of values not containg "из": 0

Now we know that all values ​​follow this structure

Numbers of floors in building might be very usefull, so I'll keep it

In [ ]:
Floors = np.array(list(map(np.array, df["Floor"].str.split(" из "))))
df.loc[:, "Floor"] = Floors[:, 0].astype(np.int32)
df.loc[:, "Floors_in_b"] = Floors[:, 1].astype(np.int32)

## `Renovation` should be easiest one

In [ ]:
print("Num of NaN values in 'Renovation' column:",df["Renovation"].isna().sum())

Num of NaN values in 'Renovation' column: 0

Great! I will just replace values depending on quality of it

In [ ]:
df.loc[:, "Renovation"] = \
df["Renovation"].str.strip().replace("требует ремонта", "0")\
.replace("косметический", "1")\
.replace("евро", "2")\
.replace("дизайнерский", "3").astype(np.int8)

# The most difficult task remains, to geocode addresses

### I will do it in another notebook named `Geocoding.ipynb`

### Saving dataset

In [ ]:
df.loc[0]

Address          Республика Татарстан, Казань, ул. Разведчика А...
Living_space                                                  20.0
Num_of_rooms                                                     1
Renovation                                                       1
Price                                                        27000
Total_area                                                    39.0
Kitchen_area                                                  12.0
Floor                                                           10
Appliances_1                                                     0
Appliances_2                                                     1
Appliances_3                                                     0
Appliances_4                                                     0
Appliances_5                                                     0
Appliances_6                                                     0
Appliances_7                                                     0
Appliances_8                                                     1
Appliances_9                                                     1
Appliances_10                                                    1
Balcony_1                                                        1
Balcony_2                                                        0
Furniture_1                                                      1
Furniture_2                                                      1
Furniture_3                                                      1
Internet_tv_1                                                    1
Internet_tv_2                                                    1
Bathroom_1                                                       0
Bathroom_2                                                       1
Utilities_1                                                      0
Room_type_1                                                      0
Room_type_2                                                      0
Studio                                                           0
Floors_in_b                                                     19
Name: 0, dtype: object

In [ ]:
df.to_csv("dataset_clean.csv", ";", index=False)

In [ ]:
features = [('утюг', 'Appliances_1'),
('телевизор', 'Appliances_2'),
('водонагреватель', 'Appliances_3'),
('кондиционер', 'Appliances_4'),
('посудомоечная машина', 'Appliances_5'),
('фен', 'Appliances_6'),
('микроволновка', 'Appliances_7'),
('плита', 'Appliances_8'),
('стиральная машина', 'Appliances_9'),
('холодильник', 'Appliances_10'),
('балкон', 'Balcony_1'),
('лоджия', 'Balcony_2'),
('хранение одежды', 'Furniture_1'),
('кухня', 'Furniture_2'),
('спальные места', 'Furniture_3'),
('телевидение', 'Internet_tv_1'),
('Wi-Fi', 'Internet_tv_2'),
('раздельный', 'Bathroom_1'),
('совмещенный', 'Bathroom_2'),
('включена в плату', 'Utilities_1'),
('изолированные', 'Room_type_1'),
('смежные', 'Room_type_2')]

features_df = {
    "name": [],
    "meaning": []
}
for meaning, name in features:
  features_df["meaning"].append(meaning)
  features_df["name"].append(name)
pd.DataFrame(features_df).to_csv("features_decode.csv", ";", index=False)